{:source-paths ["src"]
 :dev-http {8000 "public"}
 :builds {:app {:modules {:main {:entries [town.lilac.ot-example]}}
                :output-dir "public/js"
                :asset-path "js"
                :target :browser}}}
